<h5>Edit List</h5>

<table class="table table-striped">
	<tr>
	    <td>Vehicle Name: </td>
	    <td> <input type="text" ng-model="item.vName" disabled /> </td>
	</tr>
	<tr>
	    <td>Vehicle Color: </td>
	    <td> <input type="text" ng-model="item.vColor" disabled /></td>
	</tr>
	<tr>
	    <td>Action </td>
	    <td>
				<select ng-model="item.action">
					<option value="pending">Pending</option>
					<option value="progress">Progress</option>
					<option value="inprogress">In-Progress</option>
			</select>
	</tr>

	<tr>
	    <td colspan="2">
	        <input class="btn btn-default" type="Button" value="Save" ng-click="updateItem(item)" />
	        <a href="#/list">Cancel</a>
	    </td>
	</tr>
</table>
